/* @import url();

* {
   
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.navbar {
    z-index: 3;
    height: 100px;
    background: dark;
}

.bg-img {
    z-index: 1;
}

.navbar-brand {
    color: white;
    font-weight: 700;
    font-size: 32px;
}

.nav-link {
    font-size: 20px;
}

.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.nav-link.active {
    font-weight: 700;
}

/* Desktop */
@media (min-width: 992px) {}

.navbar-nav {
    color: white;

}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #3baea9;
    border-bottom: 3px solid #3baea9;
    margin-bottom: -3px;
}





#hero {
    overflow: hidden;
    display: block;
    height: 100vh;
    width: 100%;
}

.hero-tagline h1 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
}

.hero-tagline p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 85%;
}

.bg-vid {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;

}

.main {}

.test1 {
    margin: 0 auto;

    width: 50%;
    border: 4px solid #f17979;
    border-radius: 25px;
    padding: 2rem;
}

.test1 p {
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 30px;
}

#sjr-singkat {
    padding-top: 5%;
    padding-bottom: 10%;
    /* padding: 100px 0; */
}

h2 {
    position: relative;
    font-size: 50px;
    font-weight: 700;
}


.card-about {

    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .1s ease-in;
}

.circle-icon {

    width: 70px;
    height: 70px;
    background-color: #000;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.circle-icon2 {

    width: 500px;
    height: 500px;
    background-color: #000;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.circle-icon3 {

    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.card-about h3 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    transition: all .1s ease-in;
}

.card-about p {
    color: #000;
    font-size: 16px;
    transition: all .1s ease-in;
}

/*hover*/

.card-about:hover {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #3baea9;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .1s ease-in;
}

.card-about:hover .circle-icon {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.circle-icon:hover {}

.card-about:hover h3 {

    color: #fff;
    font-size: 24px;
    font-weight: 700;
    transition: all .1s ease-in;
}

.card-about:hover p {
    color: #fff;
    font-size: 16px;
    transition: all .1s ease-in;
}

.card-profile {
    width: 100%;
    height: 600px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .1s ease-in;
}

#profile {
    /* padding: 100px 0; */
}

#gallery {
    padding: 10px;
    background-color: #3baea9;
}

.circle-icon-profile {
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.card {
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}

.svg-gambar {
    position: absolute;
    /* z-index: 1; */
}

.k-gal h2 {
    color: #fff;
}

#send {
    background-color: #46BBC5;
    color: #FFFFFF;
    border-radius: 28px;
    width: 183px;
    height: 54px;
    margin-left: auto;
}


.btn:hover {
    background-color: #3baea9;
}

footer {


    background-color: #3baea9;
}

.form-control {
    width: 100%;
    /* border: 5px solid black; */
}

svg {
    z-index: 0;
}